# Archivos de entorno virtual
venv/
/venv/
__pycache__/
*.pyc

# Archivos de configuración local y secretos
.env
gcs_credentials.json

# Archivos de base de datos de SQLite (aunque no la usemos, es buena práctica)
*.sqlite3
db.sqlite3

# Archivos de medios subidos por los usuarios (imágenes, etc.)
/media/

# Archivos estáticos recolectados
/static/

# Archivos de IDE y sistema operativo
.vscode/
.idea/
*.DS_Store

categorias/

productos/